body {
	margin: 0;
	font-family: Monospace;
	font-size: 23px;
	line-height: 24px;
	overscroll-behavior: none;	
}

a {
	color: #33b5e5;
	text-decoration: none;
	-webkit-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Safari 4+ */
  	-moz-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Fx 5+ */
  	-o-animation: NAME-YOUR-ANIMATION 2s infinite;  /* Opera 12+ */
  	animation: NAME-YOUR-ANIMATION 2s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    color: #33b5e5;
  }
  50%, 100% {
	color: #ffffff;
  }
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 30px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

audio {
	position: absolute;
	bottom: 10px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;	
}
