body {
	margin: 0;
	font-family: Monospace;
	font-size: 23px;
	line-height: 24px;
	overscroll-behavior: none;	
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a {
	border: 2px solid #33b5e5;
	text-decoration: none;
	color: #33b5e5;
	padding: 4px 12px;
}

a:hover {
	display: inline-block;
	background-color: transparent;
}

a:hover > iframe {
	text-align: center;
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

iframe {
	height: 460px;
	
	display: none;
}

audio {
	position: absolute;
	bottom: 10px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;	
}
