body {
	margin: 0;	
}

.options {
    position: absolute;
    background-color: transparent;
    color: #33b5e5;
    display: block;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 250px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    cursor: default;
}

.options:hover{
    background-color: transparent;
}    
.options:hover > .option {
    display: block;     
}

.option {
    display: none;    
    min-height: 49.5px;   
    cursor: pointer;     
}

.option:hover{
    background-color: rgba(146, 139, 139, 0.8);
}

